body{
	font-family: 'Open Sans', sans-serif;
	/*background: linear-gradient(90deg,#48536D,#000000);*/
	background-image: url("background.jpg");
	background-position: center;
	background-size: cover
}

h1{
	font-size: 10em;
	text-align: center;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: .2em;
}

form{
	color: #FFFFFF;
	text-align: center;
	font-size: 2em;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 2em;
	padding-top: 2em;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
}

label {
	float: left;
	text-align: right;
	margin-right: 0em;
	width: 14em;
}

input{
	width: 40em;
	height: 2.5em;
	text-align: center;
	float: left;
	margin-left: 5em;
	font-size: 14px;
}

input[type=submit] {
	font-size: 1em;
	color: #FFFFFF;
	width: 10em;
	padding: 5px 15px;
	background-color: rgba(0, 173, 255, 0.9);
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 3em;
	margin-left: 15em;
}

input:focus {
      background: #A4FAF0;  
}

